*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 20px;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #0ea8f0;
    position: fixed;
    font-family: "Roboto Slab", serif;
}
.navLeft{
    margin: 20px 30px;
}
.navLeft a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 25px;
}
.activate, .navLeft a:hover{
    border-bottom: 1px solid darkred;
}
.navRight{
    margin: 20px;
}
.logo{
    position: absolute;
}
.logo a{
    position: relative;
    top: -30px;
    right: 200px;
}
.navRight .logo img{
    width: 200px;
}



section{
    min-height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.sec1{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.sec1Left{
    width: 40%;
    /* background-color: #cd412b; */
    background-color: #0ea8f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec1Img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.svgComputer{
    margin-top: 150px;
    animation-name: table;
    animation-duration: 1s;
}
@keyframes table {
    from {transform: translateX(-100px);}
    to {transform: translateX(0px);}
}
#code1{
    animation-name: Code1;
    animation-duration: 3000ms; 
}
#code2{
    animation-name: Code2;
    animation-duration: 3000ms; 
}
#code3{
    animation-name: Code3;
    animation-duration: 3000ms; 
}
#code4{
    animation-name: Code4;
    animation-duration: 3000ms; 
}
#code5{
    animation-name: Code5;
    animation-duration: 3000ms; 
}
#code6{
    animation-name: Code6;
    animation-duration: 3000ms; 
}
#code7{
    animation-name: Code7;
    animation-duration: 3000ms; 
}
#code8{
    animation-name: Code8;
    animation-duration: 3000ms; 
}
@keyframes Code1 {
    0%{width: 0;}
    100%{width: 100px;}
}
@keyframes Code2 {
    0%{width: 0;}
    100%{width: 80px;}
}
@keyframes Code3 {
    0%{width: 0;}
    100%{width: 84px;}
}
@keyframes Code4 {
    0%{width: 0;}
    100%{width: 78px;}
}
@keyframes Code5 {
    0%{width: 0;}
    100%{width: 93px;}
}
@keyframes Code6 {
    0%{width: 0;}
    100%{width: 54px;}
}
@keyframes Code7 {
    0%{width: 0;}
    100%{width: 78px;}
}
@keyframes Code8 {
    0%{width: 0;}
    100%{width: 100px;}
}

.sec1Right{
    background-color: white;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sec1Welcome{
    width: 70%;
    text-align: center;
    font-family: "Oswald", sans-serif;
}
.sec1Welcome h1{
    color: black;
    font-size: 60px;
}
.sec1Welcome p{
    font-size: 20px;
    color: #d7d7d7;
}
.sec2{
    
}
.sec3{
    background-color: blue;
}
.sec4{
    background-color: seagreen;
}












